.section-clients {
	margin-bottom: 80px;
	.title {
		margin-bottom: 2em;

		h2 {
			font-size: 3rem;
			font-weight: 700;
			background: linear-gradient(to right, rgba($shamrock, 1), rgba($aqua, 1));
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}

	.clients {
		display: flex;
		flex-wrap: wrap;

		.single-client {
			flex: 1 0 25%;
			max-width: 277px;
			display: flex;
			align-items: center;

			img {
				max-width: 150px;

				@include media-breakpoint-down(md) {
					max-width: 100px;
				}
			}

			@include media-breakpoint-down(md) {
				margin-bottom: 1em;
			}
			@include media-breakpoint-down(sm) {
				margin-bottom: 2em;
			}
		}
	}
}