#wrapper-footer {
    h3 {
        font-size: 1.5rem;
        background-image: linear-gradient(to right, rgba($shamrock, 1), rgba($aqua, 1));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 600;
        margin-bottom: .5em;
    }

    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;

    a {
        color: $white;
        text-decoration: none;
        transition: all .3s ease;

        &:hover {
            color: $shamrock;
        }
    }

    .contact-data {
        margin-bottom: 2em;
    }

    .button {
        margin: 0;
        border: 1.5px solid $aqua;
        color: $aqua;
        font-weight: 500;
        letter-spacing: 1px;
        padding: 10px 45px;
        border-radius: 50px;
        text-decoration: none;
        background: transparent;
        transition: all .5s ease;
        text-align: center;
        font-family: $workSans;

        &:hover {
            color: $black-russian;
            background: linear-gradient(to right, $shamrock, $aqua);
        }

        @include media-breakpoint-down(md) {
            margin-bottom: 1em;
        }
    }

    .social-links {
        @include media-breakpoint-down (md) {
            margin-top: 2em;
        }

        margin-bottom: 2em;

        i {
            font-size: 2rem;
        }
    }

    .subscribe {

        .subscribe-form {
            .wpcf7 {

                max-width: 100%;
            }

            form {
                p {
                    display: flex;
                    position: relative;

                    input {
                        background: transparent;
                        color: $white;
                        border-radius: 50px;
                        outline: none;
                        box-shadow: none;

                        &:hover,
                        &:focus,
                        &:active {
                            outline: none;
                            box-shadow: none;
                        }
                    }

                    input[type="submit"] {
                        position: relative;
                        width: 150px;
                        right: 2em;
                        color: $black-russian;
                        background: linear-gradient(to right, $shamrock, $aqua);
                        border: 0;
                    }
                }
            }

            .wpcf7 .wpcf7-validation-errors {
                background-color: transparent;
                border: 0;
                margin: 0;
                padding: 0;
            }

            .ajax-loader {
                display: none;
            }
        }
    }
}

.fixed-contact-form {
    position: fixed;
    top: 50%;
    right: -70px;
    transform: rotate(-90deg);
    @include media-breakpoint-down(md){
        display: none;
    }

    .button {
        margin: 0;
        border: 1.5px solid $aqua;
        color: $aqua;
        font-weight: 500;
        padding: 10px 45px;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        text-decoration: none;
        color: $black-russian;
        background: linear-gradient(to right, $shamrock, $aqua);
        text-align: center;
        font-family: $workSans;

        @include media-breakpoint-down(md) {
            margin-bottom: 1em;
        }
    }
}

.custom-modal {
    h3 {
        font-size: 2,5rem;
        color: $black-russian;
        font-weight: 600;
        margin-bottom: .5em;
        padding: 1em 2em;
    }

    .modal-content {
        .modal-header {
            border-bottom: 0;
            button.close{
                margin: auto 0;
            }
        }

        background-image: linear-gradient(to bottom right, $shamrock, $aqua);

        .wpcf7 {
            max-width: 1140px !important;
            width: 100%;
            padding: 1em 3em;
        }
        .wpcf7 .wpcf7-validation-errors{
            padding: 0;
            margin: 0;
            background: transparent;
            margin-top: 3em;
            border: 0;
        }

            .ajax-loader {
                display: none;
            }

        form {
            .main-data {
                display: flex;
                margin-bottom: 1.5em;

                label {
                    &:first-of-type {
                        margin-right: 1em;
                    }
                }
            }

            .meassage-data {
                label {
                    margin-bottom: 2em;
                }
            }

            label {
                color: rgba($black-russian, 0.7);
                font-size: 1rem;
                font-weight: 400;
                margin-bottom: .5em;
            }

            input,
            textarea {
                background: transparent;
                border: 0;
                border-bottom: 1px solid rgba($black-russian, 0.15);
                resize: none;
                border-radius: 0;

                &:hover,
                &:focus,
                &:active {
                    background: transparent;
                    box-shadow: none;
                    border-bottom: 1px solid rgba($black-russian, 1);

                }
            }

            textarea {
                height: 100px;
            }

            input[type="submit"] {
                border: 1px solid $black-russian;
                float: right;
                width: 150px;
                margin-top: 1em;
                border-radius: 50px;
                color: $black-russian;
                font-weight: 500;
                transition: all .3s ease;
                &:hover{
                    color: $white;
                    background-color: $black-russian;
                }
            }
        }
    }
}