.section-main-banner {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	min-height: 600px;
	background-image: url('../assets/img/background-dots.svg');
	background-size: cover;
	background-position: bottom right;
	background-repeat: no-repeat;

	.data {
		margin-bottom: 5em;

		img {
			max-width: 450px;
			width: 100%;
		}
	}
}