.section-main-banner {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	min-height: 600px;
	background-image: url('../assets/img/background-dots.svg');
	background-size: cover;
	background-position: bottom right;
	background-repeat: no-repeat;

	.data {
		margin-bottom: 5em;

		img {
			max-width: 450px;
			width: 100%;
		}
	}

	.buttons-row {
		@include media-breakpoint-down(md) {
			display: flex;
			flex-direction: column;
		}

		.button {
			margin: 0 .5em;
			border: 1.5px solid $aqua;
			color: $aqua;
			font-weight: 500;
			letter-spacing: 1px;
			padding: 7.5px 45px;
			border-radius: 50px;
			text-decoration: none;
			background: transparent;
			transition: all .5s ease;
			text-align: center;

			&:hover {
				color: $black-russian;
				background: linear-gradient(to right, $shamrock, $aqua);
			}

			@include media-breakpoint-down(md) {
				margin-bottom: 1em;
			}

		}
	}
}