.section-services {
	.single-service {
		display: flex;
		align-items: center;
		min-height: 500px;

		@include media-breakpoint-down(md) {
			margin-bottom: 60px;
			flex-direction: column-reverse;
		}

		.data {
			.title {
				margin-bottom: .5em;
				font-size: 3rem;
				font-weight: 500;
				background-image: linear-gradient(to right, rgba($shamrock, 1), rgba($aqua, 1));
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}

			.description {
				margin-bottom: 2em;
			}
		}

		.extra-info {
			margin-top: 2em;

			ul {
				margin: 0;
				padding-left: 1em;
				display: inline-block;
				width: 100%;

				li {
					width: 33.33333333%;
					margin-bottom: 10px;
					float: left;
				}
			}

			&:before {
				display: block;
				content: '';
				height: 5px;
				margin-bottom: 1.5em;
				width: 100%;
				background-image: linear-gradient(to right, $shamrock, $aqua);
			}
		}

		.img-col {
			text-align: center;
			display: flex;
			align-items: center;
			justify-content: center;

			img {
				max-width: 350px;
			}

			@include media-breakpoint-down(md) {
				margin-bottom: 30px;
			}
		}

		&:nth-child(even) {
			@include media-breakpoint-up(lg) {
				flex-direction: row-reverse;
			}
		}
	}
}