.section-testimonials {
	@include media-breakpoint-down(sm) {
		display: none;
	}

	margin-bottom: 80px;

	.title {
		margin-bottom: 2em;

		h2 {
			font-size: 3rem;
			font-weight: 700;
			background: linear-gradient(to right, rgba($shamrock, 1), rgba($aqua, 1));
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}

	.testimonials-carousel {
		margin-top: 2em;
		position: relative;

		&:before {
			position: absolute;
			top: 0;
			content: '';
			display: block;
			width: 100%;
			height: 85px;
			background-image: linear-gradient(to right, $shamrock, $aqua);
		}

		&:after {
			position: absolute;
			bottom: 0;
			display: block;
			content: '';
			width: 100%;
			height: 5px;
			background-image: linear-gradient(to right, $shamrock, $aqua);
		}

		.data {


			.logo-image {
				img {
					max-height: 150px;
					margin: 0 2em;
					position: relative;
					top: 1em;

					@include media-breakpoint-down(sm) {
						max-height: 100px;
					}
				}

				margin-bottom: 2em;
			}

			.statistics {
				display: flex;
				align-items: center;
				justify-content: flex-end;

				@include media-breakpoint-down(sm) {
					flex-direction: column;
				}

				.single-stat {
					text-align: center;
					margin: 1em 2em;
					height: 240px;

					@include media-breakpoint-down(md) {
						margin: 1em;
					}

					@include media-breakpoint-down(sm) {
						margin: 0 0 1em;
						height: auto;
					}

					p,
					span {
						font-size: 1.5rem;
						font-weight: 900;
						display: block;
						text-align: center;
						text-transform: uppercase;
						max-width: 180px;
						margin: 0 auto;
						line-height: 1.25rem;
					}

					span {
						border: 7.5px solid $shamrock;
						border-radius: 50%;
						width: 120px;
						height: 120px;
						display: flex;
						align-items: center;
						justify-content: center;
						padding: 2em;
						margin-bottom: 1em;
					}
				}
			}
		}

		#carouselTestimonials {
			background-image: url('../assets/img/background-dots.svg');
			background-size: 50%;
			background-repeat: no-repeat;
			background-position: bottom right;
		}

		.navigation {
			position: absolute;
			bottom: -1em;
			width: 80px;

			a {
				display: block;
				width: 35px;
				height: 35px;

				span {
					background-color: $white;
					border-radius: 50%;
					background-image: none;
					display: flex;
					align-items: center;
					justify-content: center;
					width: 35px;
					height: 35px;

					i {
						font-size: .85rem;
						color: $black-russian;
					}
				}
			}
		}
	}
}


.carousel-fade .carousel-item {
	opacity: 0;
	transition: opacity ease-out .3s;
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
	transition-delay: .3s;
	opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
	opacity: 0;
}

.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-prev {
	transform: translateX(0);
	transform: translate3d(0, 0, 0);
}