	.buttons-row {
		@include media-breakpoint-down(md) {
			display: flex;
			flex-direction: column;
		}

		.button {
			margin: 0 .5em;
			border: 1.5px solid $aqua;
			color: $aqua;
			font-weight: 500;
			letter-spacing: 1px;
			padding: 10px 45px;
			border-radius: 50px;
			text-decoration: none;
			background: transparent;
			transition: all .5s ease;
			text-align: center;
			font-family: $workSans;

			&:hover {
				color: $black-russian;
				background: linear-gradient(to right, $shamrock, $aqua);
			}

			@include media-breakpoint-down(md) {
				margin-bottom: 1em;
			}

		}
	}